@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/xuh1yop.css");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
/* Fonts & Colors */
/* Breakpoints (based on chrome) não utilizado quando criado a lp com bootstrap */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6, button {
  font-family: "Termina", sans-serif; }

body, p, input, label, a {
  font-family: "Montserrat", sans-serif; }

html {
  scroll-behavior: smooth; }

.barra {
  background-color: transparent; }

#lp .btn-black {
  width: 100%;
  height: 43px;
  color: white;
  margin-top: 20px;
  background: #131313;
  border: 0.5px solid #00F729;
  border-radius: 7px;
  transition: all 1s;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0.04em;
  color: #EEEEEE; }

#lp .btn-black:hover {
  background-color: #00F729;
  color: #131313; }

#lp .btn-green {
  width: 100%;
  height: 43px;
  color: #131313;
  margin-top: 20px;
  background: #00F729;
  border: 0.5px solid #00F729;
  border-radius: 7px;
  transition: all 1s;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0.04em; }

#lp .btn-green:hover {
  background-color: #131313;
  color: white; }

#lp .topo {
  background-image: url(../img/back-desktop.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #05030b;
  background-size: cover; }
  @media (max-width: 767.98px) {
    #lp .topo {
      background-image: url(../img/back-mobile.webp);
      background-position: center top; } }
  #lp .topo .layer-black {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 470px;
    padding-top: 183px;
    padding-bottom: 110px; }
    #lp .topo .layer-black .domine-metodo {
      display: flex;
      align-items: center;
      justify-content: center; }
      #lp .topo .layer-black .domine-metodo .valuation {
        max-width: 300px;
        width: 100%;
        height: auto; }
      #lp .topo .layer-black .domine-metodo h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 145%;
        letter-spacing: 0.035em;
        color: #E3E3E3;
        margin-top: 48px; }
      #lp .topo .layer-black .domine-metodo p {
        font-weight: 400;
        font-size: 18px;
        line-height: 135%;
        letter-spacing: 0.05em;
        color: #C0BDBD;
        margin-top: 16px; }
      #lp .topo .layer-black .domine-metodo .avaliacao p {
        font-weight: 600;
        font-size: 16px;
        line-height: 129.5%;
        letter-spacing: 0.035em;
        color: #D9D9D9; }
        @media (max-width: 991.98px) {
          #lp .topo .layer-black .domine-metodo .avaliacao p {
            font-size: 14px; } }
        @media (max-width: 767.98px) {
          #lp .topo .layer-black .domine-metodo .avaliacao p {
            font-size: 12px; } }
      #lp .topo .layer-black .domine-metodo .avaliacao .stars {
        margin: 8px auto 8px 0; }
      #lp .topo .layer-black .domine-metodo .avaliacao .nps {
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        color: #EEEEEE; }
        @media (max-width: 991.98px) {
          #lp .topo .layer-black .domine-metodo .avaliacao .nps {
            font-size: 12px; } }
        @media (max-width: 767.98px) {
          #lp .topo .layer-black .domine-metodo .avaliacao .nps {
            font-size: 10px; } }
      #lp .topo .layer-black .domine-metodo .form-content {
        background: url(../img/back-form.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 42px;
        height: auto;
        padding: 32px;
        display: flex;
        align-items: start;
        justify-content: space-around;
        flex-direction: column; }
        #lp .topo .layer-black .domine-metodo .form-content p {
          margin: 0;
          font-weight: 600;
          font-size: 28px;
          line-height: 129.5%;
          letter-spacing: 0.035em;
          color: #FFFFFF; }
        #lp .topo .layer-black .domine-metodo .form-content form {
          width: 100%;
          display: flex;
          align-items: start;
          justify-content: start;
          flex-direction: column; }
          #lp .topo .layer-black .domine-metodo .form-content form .form-control {
            padding: 10px 16px;
            gap: 10px;
            width: 100%;
            height: 39px;
            background: #D9D9D9;
            border-radius: 7px;
            margin: 20px auto 0 auto; }
  #lp .topo .barra {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
    #lp .topo .barra .collapse {
      justify-content: end; }

#lp .preparado {
  background-color: #0a0a0a;
  padding-top: 110px;
  padding-bottom: 110px; }
  @media (max-width: 991.98px) {
    #lp .preparado {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (max-width: 767.98px) {
    #lp .preparado {
      padding-top: 65px;
      padding-bottom: 65px; } }
  @media (max-width: 575.98px) {
    #lp .preparado {
      padding-top: 50px;
      padding-bottom: 50px; } }
  #lp .preparado h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 129.5%;
    text-align: center;
    letter-spacing: 0.035em;
    color: #E3E3E3;
    margin-bottom: 64px; }
    #lp .preparado h1 span {
      color: #00F729; }
  #lp .preparado .feature {
    margin: 0 auto 48px auto;
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 150px; }
    #lp .preparado .feature img {
      margin-bottom: 20px; }
    #lp .preparado .feature p {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #EEEEEE; }

#lp .modulos {
  background-color: #0a0a0a;
  padding-top: 110px;
  padding-bottom: 110px; }
  @media (max-width: 991.98px) {
    #lp .modulos {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (max-width: 767.98px) {
    #lp .modulos {
      padding-top: 65px;
      padding-bottom: 65px; } }
  @media (max-width: 575.98px) {
    #lp .modulos {
      padding-top: 50px;
      padding-bottom: 50px; } }
  #lp .modulos h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 129.5%;
    text-align: center;
    letter-spacing: 0.035em;
    color: #E3E3E3;
    margin-bottom: 64px; }
    #lp .modulos h1 span {
      color: #00F729; }
  #lp .modulos h2 {
    font-weight: 600;
    font-size: 21px;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: #FFFFFF; }
  #lp .modulos #carousel-content {
    min-height: 600px;
    height: auto; }
    #lp .modulos #carousel-content .carousel-item {
      min-height: auto;
      align-items: start;
      justify-content: center; }
      #lp .modulos #carousel-content .carousel-item .carousel-caption {
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 367px;
        padding: 26px 35px;
        border-radius: 22px;
        border: 1px solid #C0BDBD;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start; }
        #lp .modulos #carousel-content .carousel-item .carousel-caption .unit {
          padding: 10px;
          gap: 10px;
          width: 36px;
          height: 39px;
          background: #00F729;
          font-weight: 900;
          font-size: 14px;
          line-height: 135%;
          letter-spacing: 0.02em;
          color: #131313;
          margin-bottom: 24px; }
        #lp .modulos #carousel-content .carousel-item .carousel-caption h2 {
          font-weight: 600;
          font-size: 21px;
          line-height: 135%;
          letter-spacing: 0.02em;
          color: #FFFFFF; }
        #lp .modulos #carousel-content .carousel-item .carousel-caption p {
          margin-top: 12px;
          margin-bottom: 24px;
          font-weight: 400;
          font-size: 14px;
          line-height: 135%;
          letter-spacing: 0.05em;
          color: #D9D9D9;
          text-align: left; }
        #lp .modulos #carousel-content .carousel-item .carousel-caption h3 {
          font-weight: 500;
          font-size: 16px;
          line-height: 135%;
          letter-spacing: 0.05em;
          color: #A4A4A4; }
          #lp .modulos #carousel-content .carousel-item .carousel-caption h3 img {
            margin-right: 18px; }
          #lp .modulos #carousel-content .carousel-item .carousel-caption h3 span {
            color: #00F729; }
        #lp .modulos #carousel-content .carousel-item .carousel-caption ul {
          margin-top: 9px;
          width: 100%;
          list-style: none;
          text-align: start; }
          #lp .modulos #carousel-content .carousel-item .carousel-caption ul .unit-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            margin-bottom: 15px; }
            #lp .modulos #carousel-content .carousel-item .carousel-caption ul .unit-content h4 {
              font-weight: 700;
              font-size: 14px;
              line-height: 135%;
              letter-spacing: 0.05em;
              color: #00F729; }
            #lp .modulos #carousel-content .carousel-item .carousel-caption ul .unit-content p {
              max-width: 197px;
              font-weight: 400;
              font-size: 14px;
              line-height: 135%;
              letter-spacing: 0.05em;
              color: #D9D9D9;
              margin: auto 22px; }
            #lp .modulos #carousel-content .carousel-item .carousel-caption ul .unit-content .minute {
              margin: auto 0 auto auto; }
    #lp .modulos #carousel-content .active {
      display: block; }
  #lp .modulos .carousel-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 72px;
    margin: 0 auto; }
    #lp .modulos .carousel-controls .carousel-control-prev, #lp .modulos .carousel-controls .carousel-control-next {
      position: relative;
      top: 0;
      left: 0;
      margin: 0; }
    #lp .modulos .carousel-controls .carousel-control-prev {
      width: 24px;
      justify-content: end; }
    #lp .modulos .carousel-controls .carousel-control-next {
      width: 24px;
      justify-content: start; }
    #lp .modulos .carousel-controls .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300F729' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
    #lp .modulos .carousel-controls .carousel-control-prev-icon {
      margin-right: 0;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300F729' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
