@import "_designsystem";
@import "_global";

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}

#lp {
  .btn-black {
    width: 100%;
    height: 43px;
    color: white;
    margin-top: 20px;
    background: $fundo-black;
    border: 0.5px solid $color-primary;
    border-radius: 7px;
    transition: all 1s;

    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.04em;
    color: #EEEEEE;
  }
  .btn-black:hover {
    background-color: $color-primary;
    color: $fundo-black;
  }
  .btn-green {
    width: 100%;
    height: 43px;
    color: $fundo-black;
    margin-top: 20px;
    background: $color-primary;
    border: 0.5px solid $color-primary;
    border-radius: 7px;
    transition: all 1s;

    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.04em;
  }
  .btn-green:hover {
    background-color: $fundo-black;
    color: white;
  }
  .topo {
    background-image: url(../img/back-desktop.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #05030b;
    background-size: cover;
    @media (max-width: 767.98px) {
      background-image: url(../img/back-mobile.webp);
      background-position: center top;
    }
    @media (max-width: 575.98px) {
    }
    @media (max-width: 475.98px) {
    }
    @media (max-width: 375.98px) {
    }
    .layer-black {
      background-color: rgba(0, 0, 0, 0.5);
      min-height: 470px;
      padding-top: 183px;
      padding-bottom: 110px;
      @media (max-width: 1399.98px) {
      }
      @media (max-width: 1199.98px) {
      }
      @media (max-width: 991.98px) {
        padding-top: 126px;
        padding-bottom: 95px;
        background-color: rgba(0, 0, 0, 0.2);
      }
      @media (max-width: 767.98px) {
        padding-top: 120px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0);
      }
      @media (max-width: 575.98px) {
        padding-top: 116px;
        padding-bottom: 10px;
      }
      .domine-metodo {
        display: flex;
        align-items: center;
        justify-content: center;
        .valuation {
          max-width: 300px;
          width: 100%;
          height: auto;
        }
        h1 {
          font-weight: 700;
          font-size: 32px;
          line-height: 145%;
          letter-spacing: 0.035em;
          color: #E3E3E3;
          margin-top: 48px;
          @media (max-width: 1199.98px) {
            font-size: 24px;
          }
          @media (max-width: 991.98px) {
          }
          @media (max-width: 767.98px) {
            font-size: 26px;
          }
          @media (max-width: 575.98px) {
            margin-top: 32px;
            font-size: 21px;
          }
          
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 135%;
          letter-spacing: 0.05em;
          color: #C0BDBD;
          margin-top: 16px;
          @media (max-width: 575.98px) {
            margin-top: 10px;
            font-size: 16px;
          }
        }
        .avaliacao {
          p {
            font-weight: 600;
            font-size: 16px;
            line-height: 129.5%;
            letter-spacing: 0.035em;
            color: #D9D9D9;
            @media (max-width: 1399.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
              font-size: 14px;
            }
            @media (max-width: 767.98px) {
              font-size: 12px;
              text-align: center;
            }
            @media (max-width: 575.98px) {
              margin-top: 18px;
            }
          }
          .stars {
            margin: 8px auto 8px 0;
            @media (max-width: 767.98px) {
              margin: 18px auto 8px auto;
            }
          }
          .nps {
            font-weight: 400;
            font-size: 14px;
            line-height: 13px;
            color: #EEEEEE;
            @media (max-width: 1399.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
              font-size: 12px;
            }
            @media (max-width: 767.98px) {
              font-size: 10px;
            }
            @media (max-width: 575.98px) {
            }
          }
        }
        .desk {
          @media (max-width: 767.98px) {
            display: none;
          }
        }
        .mob {
          display: none;
          @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
        .form-content{
          background: url(../img/back-form.webp);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 42px;
          height: auto;
          padding: 32px;
          display: flex;
          align-items: start;
          justify-content: space-around;
          flex-direction: column;
          @media (max-width: 767.98px) {
            margin-top: 35px;
          }
          p {
            margin: 0;
            font-weight: 600;
            font-size: 28px;
            line-height: 129.5%;
            letter-spacing: 0.035em;
            color: #FFFFFF;
            @media (max-width: 1399.98px) {
              font-size: 24px;
            }
            @media (max-width: 1199.98px) {
              font-size: 20px;
            }
            @media (max-width: 991.98px) {
              font-size: 18px;
            }
            @media (max-width: 767.98px) {
              font-size: 16px;
            }
            @media (max-width: 575.98px) {
              font-size: 14px;
            }
          }
          form {
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            .form-control {
              padding: 10px 16px;
              gap: 10px;
              width: 100%;
              height: 39px;
              background: #D9D9D9;
              border-radius: 7px;
              margin: 20px auto 0 auto;
            }
            
          }
        }
      }
    }
    
    .barra {
      background: rgba(0, 0, 0, 0);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      .collapse {
        justify-content: end;
      }
    } 
    .barra.scrolled {
      background-color: rgb(10, 10, 10);
      transition: background-color 200ms linear;
      @media (max-width: 767.98px) {
        background-color: $fundo-black;
      }
    } 
    //barra    
  } //topo

  .preparado {
    background-color: rgb(10, 10, 10);
    padding-top: 110px;
    padding-bottom: 110px;
    @media (max-width: 1399.98px) {
    }
    @media (max-width: 1199.98px) {
    }
    @media (max-width: 991.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (max-width: 767.98px) {
      padding-top: 65px;
      padding-bottom: 65px;
      background-color: $fundo-black;
    }
    @media (max-width: 575.98px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 129.5%;
      text-align: center;
      letter-spacing: 0.035em;
      color: #E3E3E3;
      margin-bottom: 64px;
      span {
        color: $color-primary;
      }
      @media (max-width: 1199.98px) {
        font-size: 30px;
      }
      @media (max-width: 991.98px) {
        font-size: 26px;
      }
      @media (max-width: 767.98px) {
        font-size: 22px;
      }
      @media (max-width: 575.98px) {
        font-size: 18px;
      }
    }
    .feature {
      margin: 0 auto 0 auto;
      min-height: 140px;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
      width: 150px;
      img {
        margin-bottom: 20px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #EEEEEE;
        @media (max-width: 767.98px) {
          font-size: 14px;
        }
        @media (max-width: 575.98px) {
          font-size: 12px;
        }
      }
    }
    .first {
      margin: 0 auto 48px auto;
      @media (max-width: 575.98px) {
        margin: 0 auto 32px auto;
      }
    }
  }
  .modulos {
    background-color: rgb(10, 10, 10);
    padding-top: 110px;
    padding-bottom: 110px;
    @media (max-width: 1399.98px) {
    }
    @media (max-width: 1199.98px) {
    }
    @media (max-width: 991.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (max-width: 767.98px) {
      padding-top: 65px;
      padding-bottom: 65px;
      background-color: $fundo-black;
    }
    @media (max-width: 575.98px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 129.5%;
      text-align: center;
      letter-spacing: 0.035em;
      color: #E3E3E3;
      margin-bottom: 64px;
      span {
        color: $color-primary;
      }
      @media (max-width: 1199.98px) {
        font-size: 30px;
        margin-bottom: 48px;
      }
      @media (max-width: 991.98px) {
        font-size: 26px;
        margin-bottom: 32px;
      }
      @media (max-width: 767.98px) {
        font-size: 22px;
        margin-bottom: 24px;
      }
      @media (max-width: 575.98px) {
        font-size: 18px;
        margin-bottom: 18px;
      }
    }
    h2 {
      font-weight: 600;
      font-size: 21px;
      line-height: 135%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }
    #carousel-content {
      min-height: 500px;
      height: auto;
      @media (max-width: 767.98px) {
        margin-bottom: 48px;
      }
      @media (max-width: 575.98px) {
        margin-bottom: 32px;
      }
      .carousel-item {
        min-height: auto;
        align-items: start;
        justify-content: center;
        text-align: left;
        .carousel-caption {
          margin: 0 auto;
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          max-width: 367px;
          padding: 26px 35px;
          border-radius: 22px;
          border: 1px solid #C0BDBD;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;
          .unit {
            padding: 10px;
            gap: 10px;
            width: 36px;
            height: 39px;
            background: #00F729;
            font-weight: 900;
            font-size: 14px;
            line-height: 135%;
            letter-spacing: 0.02em;
            color: #131313;
            margin-bottom: 24px;
          }
          h2 {
            font-weight: 600;
            font-size: 21px;
            line-height: 135%;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            text-align: left !important;
          }
          p {
            margin-top: 12px;
            margin-bottom: 24px;
            font-weight: 400;
            font-size: 14px;
            line-height: 135%;
            letter-spacing: 0.05em;
            color: #D9D9D9;
            text-align: left;
          }
          h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 135%;
            letter-spacing: 0.05em;
            color: #A4A4A4;
            img {
              margin-right: 18px;
            }
            span {
              color: $color-primary;
            }
          }
          ul {
            margin-top: 9px;
            width: 100%;
            list-style: none;
            text-align: start;
            .unit-content {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: start;
              margin-bottom: 15px;
              h4 {
                font-weight: 700;
                font-size: 14px;
                line-height: 135%;
                letter-spacing: 0.05em;
                color: $color-primary;
              }
              p {
                max-width: 197px;
                font-weight: 400;
                font-size: 14px;
                line-height: 135%;
                letter-spacing: 0.05em;
                color: #D9D9D9;
                margin: auto 22px;
              }
              .minute {
                margin: auto 0 auto auto;
              }
            }
          }
        }
      }
      .active {
        display: block;
      }
    }
    .carousel-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 72px;
      margin: 0 auto;
      .carousel-control-prev, .carousel-control-next {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
      }
      .carousel-control-prev {
        width: 24px;
        justify-content: end;
      }
      .carousel-control-next {
        width: 24px;
        justify-content: start;
      }
      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300F729' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      }
      .carousel-control-prev-icon {
        margin-right: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300F729' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 10, 10);
    padding-top: 110px;
    padding-bottom: 110px;
    @media (max-width: 1399.98px) {
    }
    @media (max-width: 1199.98px) {
    }
    @media (max-width: 991.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (max-width: 767.98px) {
      padding-top: 65px;
      padding-bottom: 65px;
      background-color: $fundo-black;
    }
    @media (max-width: 575.98px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .logo {
    }
  }
} //#lp